*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}

.main{
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: url(https://images.unsplash.com/photo-1583209814683-c023dd293cc6?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position-x: 145%;
    background-position-y: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    filter: blur(4px);

}
.box{
    width: 80%;
    height: 70%;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.803);
    background: url(https://images.unsplash.com/photo-1583209814683-c023dd293cc6?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position-x: 110.3%;
    background-position-y: 50%;
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%, -50%);
    display: flex;
    justify-content: flex-end;
    font-family:gilroy;
    text-align: center;
}
.content{
    width: 40%;
    height: 100%;
    padding:50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content > h1{
    font-size:28px;
    font-weight:500;
}
.content > h1 > span{
    font-size:40px;
    padding:0px 5px;
    font-weight:900;
}
.content > section{
    margin:70px 17px;
}
.content section p{
    text-align: left;
}
.content section  input{
    width: 100%;
    padding:20px 10px;
    font-size:15px;
    background-color:rgb(226, 208, 206) ;
    border:none;
    border-radius: 10px;
    margin-top:15px;
    box-shadow:0px 2px 10px rgb(199, 176, 175);
}
.content button{
    width: 100%;
    padding:20px 10px;
    font-size:15px;
    background-color:rgb(0, 0, 0) ;
    border:none;
    border-radius: 10px;
    margin-top:20px;
    color:white;
    margin-bottom:20px;
}
.content section a{
    text-decoration: none;
    color:black;
    cursor: pointer;
    border-bottom:1px solid black;
}
.content h2{
    font-size:18px;
    color: gray;
}